
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Concessão
      <small>Cadastros</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
      <li class="active">Here</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">




	<div id="rootwizard">
    <!-- Default box -->
    <div class="box box-success">
      <div class="box-header">
        <!-- <h3 class="box-title">Title</h3> -->
        
        <!-- Tabs Steps -->
        <div class="navbar">
	  			<div class="navbar-inner">
	    			<div class="container">
							<ul>
	  						<li class="teste1"><a href="#tab1" data-toggle="tab">First</a></li>
								<li><a href="#tab2" data-toggle="tab">Second</a></li>
								<li><a href="#tab3" data-toggle="tab">Third</a></li>
								<li><a href="#tab4" data-toggle="tab">Forth</a></li>
								<li><a href="#tab5" data-toggle="tab">Fifth</a></li>
								<li><a href="#tab6" data-toggle="tab">Sixth</a></li>
								<li><a href="#tab7" data-toggle="tab">Seventh</a></li>
							</ul>
	 					</div>
	  			</div>
				</div>
        
        <div class="box-tools pull-right">
        </div>
        
      </div>
      <div class="box-body chat" id="chat-box">
        
				<div class="tab-content">
					<div class="tab-pane" id="tab1">
							
						Número do Processo
            <div class="col-xs-3">
      				<input type="text" class="form-control" placeholder=".col-xs-3">
			      </div>
                  
	  			</div>
					<div class="tab-pane" id="tab2">
						2 a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>
					</div>
					<div class="tab-pane" id="tab3">
					</div>
					<div class="tab-pane" id="tab4">
						4
					</div>
					<div class="tab-pane" id="tab5">
						5
					</div>
					<div class="tab-pane" id="tab6">
						6
					</div>
					<div class="tab-pane" id="tab7">
						7
					</div>        
				</div>	
			</div>
        

    
    	<div class="box-footer">
				<ul class="pager wizard">
					<li class="previous"><a href="#">Previous</a></li>
					<li class="next"><a href="#">Next</a></li>
				</ul>
			</div><!-- /.box-footer-->
		</div><!-- /.box-body -->
	</div><!-- /.box -->


    <!-- Your Page Content Here -->
  </section><!-- /.content -->