<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Concessão
      <small>Cadastros</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
      <li class="active">Here</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">




    <!-- Default box -->
    <div class="box box-success">
      <div class="box-header">
        <!-- <h3 class="box-title">Title</h3> -->
        
        
        <div class="box-tools pull-right">
        </div>
        
      </div>
      
      <div class="box-body chat" id="chat-box">
         a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>
			</div>
    
    	<div class="box-footer">

			</div><!-- /.box-footer-->
		</div><!-- /.box-body -->



    <!-- Your Page Content Here -->
  </section><!-- /.content -->
</div><!-- /.content-wrapper -->