
<div class="login-box">
	<div class="login-box-body">
		<div class="login-logo">
			<b>Cibel</b>
		</div>
		<p class="login-box-msg">
			Faça login para iniciar sua sessão
		</p>						
		<%= form_for(:session, url: login_path) do |f| %>
		<div class="form-group has-feedback">
			<%= f.text_field :rf, class: 'form-control', maxlength: 7, placeholder: ' RF', autofocus: true %>
			<span class="fa fa-user form-control-feedback"></span>
		</div>
		<div class="form-group has-feedback">
			<%= f.password_field :password, placeholder: ' Senha', class: 'form-control' %>
			<span class="fa fa-lock form-control-feedback"></span>
		</div>	
		<%= f.submit "Acessar", id: 'acessar', class: "btn btn-primary btn-block btn-flat" %>
		<% end %>
	</div>
</div>


