  <div class="box box-solid">
    <div class="box-header with-border">
      <h3 class="box-title">Valores</h3>
    </div><!-- /.box-header -->
		
		<!-- form start -->
    <form class="form-horizontal">
      
      <div class="box-body">
        <div>
          <table class="tabela-precos" id="rowclick">
            <thead>
              <tr class="tabela-precos-tr">
                <th width="90%"><span class="text">Itens</span></th>
                <th width="10%"><span class="text">Valor</span></th>
              </tr>
            </thead>
            <tbody>
              <tr class="disabled-row"> <td><input type="checkbox" disabled> Lote - 1,60x2,30 (3,68m²)</td> <td>R$ 5.113,36</td> </tr>
              <tr class="disabled-row"> <td><input type="checkbox" disabled> 2 Gavetas</td> <td>R$ 1.768,88</td> </tr>
              <tr> <td><input type="checkbox"> Taxa da Expediente</td> <td>R$ 15,50</td> </tr>
              <tr> <td><input type="checkbox"> Carta de Concessão</td> <td>R$ 22,35</td> </tr>
            </tbody>
          </table>
        </div>
  			
  		</div><!-- /.box-body -->
									
	  </form>
	</div><!-- /.box -->
	
  
  
  
  <div class="box box-solid">
    <div class="box-header with-border">
      <h3 class="box-title">Informações</h3>
    </div><!-- /.box-header -->
		
		<!-- form start -->
    <form class="form-horizontal">
      
      <div class="box-body">
        
        <div class="form-group row">
          <div class="col-sm-5 checkbox">
            <label>
              <input type="checkbox"> Emitente é o Requerente?
            </label>
          </div>
        </div>
        
        <div class="form-group row">
          <label for="concessao-pagamento-emitente" class="col-sm-1 control-label">Emitente:</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="concessao-pagamento-emitente">
          </div>
        </div>
        
        <div class="form-group row">    
          <label for="concessao-requerente-rua" class="col-sm-1 control-label">Rua:</label>
  	      <div class="col-sm-3">
    	      <input type="text" class="form-control" id="concessao-requerente-rua">
					</div>
										
					<label for="concessao-requerente-numero" class="col-sm-1 control-label">Numero:&nbsp&nbsp</label>
          <div class="col-sm-1">
            <input type="text" class="form-control" id="concessao-requerente-numero">
					</div>
										
					<label for="concessao-requerente-compl" class="col-sm-offset-1 col-sm-1 control-label">Compl.:</label>
          <div class="col-sm-2">
            <input type="text" class="form-control" id="concessao-requerente-compl">
					</div>

        </div>
  			    
  			    
  		  <div class="form-group row">
          <label for="concessao-pagamento-rg" class="col-sm-1 control-label">RG:</label>
          <div class="col-sm-2">
            <input type="text" class="form-control" id="concessao-pagamento-rg">
          </div>
            
          <label for="concessao-pagamento-cpf" class="col-sm-offset-1 col-sm-1 control-label">CPF:</label>
          <div class="col-sm-2">
            <input type="text" class="form-control" id="concessao-pagamento-endereco">
          </div>
          
          <label for="concessao-pagamento-tel" class="col-sm-1 control-label">Tel.:</label>
          <div class="col-sm-2">
            <input type="text" class="form-control" id="concessao-pagamento-tel">
          </div>
        </div>
        
        
        
        <div class="form-group row">

          <label for="concessao-pagamento-parcelas" class="col-sm-1 control-label">Parcelas:</label>
          <div class="col-sm-1">
            <select class="form-control">
          	  <option>1</option>
          	  <option>2</option>
          	  <option>3</option>
          	  <option>4</option>
          	  <option>5</option>
          	  <option>6</option>
            </select>
  				</div>
            
          <label for="concessao-pagamento-valor" class="col-sm-offset-2 col-sm-1 control-label">Valor:</label>
          <div class="col-sm-2">
            <input type="text" class="form-control" id="concessao-pagamento-valor">
          </div>
          
        </div>
        
      </div>
    </form>
  </div>
        