<!-- Main Footer -->
<footer class="main-footer mf-fixed">
  <!-- To the right -->
  <!-- <div style="position: absolute; right: 55px; margin-top: -12px;"> -->
  <div class="pull-right hidden-xs img-footer">
    <%= link_to image_tag("SFMSP_Logo.png", width: "55px", height: "auto", alt: "SFMSP"), 'http://www.prefeitura.sp.gov.br/cidade/secretarias/servicos/servico_funerario/', :target => '_blank' %>
  </div>
  <!-- Default to the left -->
  <div style="align: center;">
	  <strong>
		<a href="https://github.com/rodrigo25/cibel-concessao" target="blank">Sistema Elon</a> | 
	  	<a href="http://www.prefeitura.sp.gov.br/cidade/secretarias/servicos/servico_funerario/" target="blank">SFMSP</a> | 2016
	  </strong>
  </div>
</footer>