<header class="main-header">
  <!-- Logo -->
  <a href="index2.html" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <!-- <span class="logo-mini"><b>CB</b></span> -->
    <%= image_tag("letra-branca.png", class: "logo-mini")%>
    <!-- logo for regular state and mobile devices -->
    <%= image_tag("logo-branco.png")%>
  </a>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- Messages: style can be found in dropdown.less-->
        <li>
          <%= link_to lockscreen_path(:request_url => request.url) do %>
            <i class="fa fa-lock"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "", logout_path, method: :delete, class: 'fa fa-power-off' %>
        </li>
      </ul>
    </div>
  </nav>
</header>